In [1]:
import pyspark
from pyspark.sql import HiveContext

sc = pyspark.SparkContext()
hiveContext = HiveContext(sc)

In [4]:
hiveContext.sql("show databases").show()

+------------+
|databaseName|
+------------+
|       db_fc|
|     default|
+------------+

In [3]:
hiveContext.sql("use db_fc")
hiveContext.sql("show tables").show()

+--------+-----------------+-----------+
|database|        tableName|isTemporary|
+--------+-----------------+-----------+
|   db_fc|         airports|      false|
|   db_fc|detailedemployees|      false|
|   db_fc|        employees|      false|
+--------+-----------------+-----------+

In [7]:
employeesDf = hiveContext.sql('select * from detailedemployees where languages[1] == "English"')
employeesDf.show()

+---+----------+----------+------+--------------------+--------------------+--------------------+
| id|      name|department|salary|             contact|           languages|              skills|
+---+----------+----------+------+--------------------+--------------------+--------------------+
|  2|Mary Jones|        HR|1000.0|[mary.jones@acme....|    [Welsh, English]|[Web -> 5, Java -...|
|  3|Judy Evans|     Sales|333.99|[judy.evans@acme....|[French, English,...|[RPG -> 4, Cobol ...|
+---+----------+----------+------+--------------------+--------------------+--------------------+